[project]
name = "api"
version = "0.1.0"
requires-python = ">=3.13"
dependencies = [
    "boto3>=1.34.0",
    "fastapi[standard]>=0.115.12",
    "psycopg2>=2.9.10",
    "pydantic>=2.11.4",
    "pyjwt>=2.0.0",
    "pyyaml>=6.0.2",
    "shapely>=2.1.2",
    "sqlmodel>=0.0.24",
    "typer>=0.15.3",
]

[dependency-groups]
dev = [
    "alembic>=1.17.2",
    "maturin>=1.10.2",
    "mypy>=1.19.1",
    "pydantic-settings>=2.12.0",
    "pytest>=9.0.2",
    "pytest-cov>=7.0.0",
    "ruff>=0.14.9",
    "types-pyyaml>=6.0.12.20250915",
    "types-boto3>=1.42.11",
    "ty>=0.0.2",
    "hypothesis>=6.148.7",
    "types-shapely>=2.1.0.20250917",
]

[build-system]
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"

[tool.coverage.run]
relative_files = true

[tool.maturin]
features = ["pyo3/extension-module"]
python-source = "python"

[project.scripts]
cli = "api.cli:app"
