[project]
name = "api"
version = "0.1.0"
requires-python = ">=3.12"
dependencies = [
    "boto3>=1.34.0",
    "fastapi[standard]>=0.115.12",
    "psycopg2>=2.9.10",
    "pydantic>=2.11.4",
    "pyyaml>=6.0.2",
    "sqlmodel>=0.0.24",
    "typer>=0.15.3",
]

[tool.uv]
dev-dependencies = [
    "maturin>=1.8.6",
    "mypy>=1.15.0",
    "pydantic-settings>=2.9.1",
    "pytest>=8.4.0",
    "pytest-cov>=6.0.0",
    "ruff>=0.11.11",
    "types-pyyaml>=6.0.12.20250402",
    "types-boto3>=1.38.32",
]

[build-system]
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"

[tool.coverage.run]
relative_files = true

[tool.maturin]
features = ["pyo3/extension-module"]
python-source = "python"

[project.scripts]
cli = "api.cli:app"
